


       @media (max-width: 1066px) {

.search-input {
   
    border: none;
    background: transparent;
    font-size: 19px;
   
    padding: 5px;
}



        .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background:blue;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
       }


       @media (max-width: 968px) {
    .main-content {
        flex-direction: column;
    }

    .divider {
        width: 100%;
        height: 3px;
        min-height: 3px;
    }

    .content-side {
        max-height: none;
    }

    .footer-top {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

}
}

@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        flex-wrap: wrap;
    }

    .nav-center {
        display: none;
        position: static;
        transform: none;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px 0;
        margin-top: 10px;
    }

    .nav-center.active {
        display: flex;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .filter-bar {
        gap: 10px;
    }


    .filter-search {
        width: 100%;
        order: -1;
    }

    .text-grid,
    .image-grid {
        grid-template-columns: 1fr;
    }

    .text-card p {
    font-size: 22px;
    line-height: 1.6;
    color: grey;
    margin-bottom: 10px;
    font-weight: 600;
}

    .moving-text {
        font-size: 16px;
    }

}



@media (max-width: 600px) {
    .footer-top {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 10px;
    }

    .content-side {
        padding: 15px;
    }

    .filter-sticker {
        width: 28px;
        height: 28px;
    }

    .image-card img {
        height: 160px;
    }

     .filter-bar {
        gap: 10px;
    }

    .filter-search {
        width: 100%;
        order: -1;
    }



    
        .search-btn {
    
    justify-content: center;
    align-items: center;
    background:blue;
    color: white;
    border: none;
 
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
}


@media (max-width: 398px) {
.search-btn {
    align-self: center;
    justify-content: left;
    align-items: center;
    background: blue;
    color: white;
    border: none;
 left: 233px;
    border-radius: 6px;
    font-size: 20px;
  position:absolute;
    cursor: pointer;
}

}



@media (max-width: 390px) {
.nav-text {
    color: black;
    font-size: 22px;
    font-weight: 500;
}
}



